.navbar {
  display: flex;
  flex: 1;
  background-color: teal;
  height: 7vh;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px grey;
}

.title-text {
  color: white;
  font-size: 24px;
}